.Card {
    .ladder-configuration {
        table {
            tr {
                border-bottom: inherit;
            }
            th {
                font-weight: bold;
            }
        }
    }
    div {
        table {
            width: 100%;
            max-width: 100vw;
            border-collapse: collapse;
            tr {
                border-bottom: solid 1px transparent;
                border-bottom-color: #919191;
            }
            thead {
                th {
                    text-align: left;
                    color: #919191;
                    font-weight: normal;
                }
            }
        }
    }
}
